<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%=I18n.t('user_mailer.welcome.title')%></h1>
    <h3><%=I18n.t('user_mailer.welcome.subtitle')%></h3>
    <hr />
    <p><%=User.human_attribute_name(:name)%>: <%= @user.name %></p>
    <p><%=User.human_attribute_name(:document)%>: <%= @user.document %></p>
    <p><%=User.human_attribute_name(:email)%>: <%= @user.email %></p>
    <p><%=User.human_attribute_name(:birthday_at)%>: <%= @user.birthday_at %></p>
    <p><%=User.human_attribute_name(:phone)%>: <%= @user.phone %></p>
    <p><%=User.human_attribute_name(:status)%>: <%= @user.status %></p>
    <h3><%=I18n.t('user_mailer.welcome.address')%></h3>
    <p><%=Address.human_attribute_name(:zipcode)%>: <%= @user.address.zipcode %></p>
    <p><%=Address.human_attribute_name(:ibge_code)%>: <%= @user.address.ibge_code %></p>
    <p><%=Address.human_attribute_name(:state)%>: <%= @user.address.state %></p>
    <p><%=Address.human_attribute_name(:city)%>: <%= @user.address.city %></p>
    <p><%=Address.human_attribute_name(:street)%>: <%= @user.address.street %></p>
    <p><%=Address.human_attribute_name(:neighborhood)%>: <%= @user.address.neighborhood %></p>
    <p><%=Address.human_attribute_name(:complement)%>: <%= @user.address.complement %></p>
  </body>
</html>
