<%= form_with model: user, local: true do |form| %>
  <div class="card mb-4 pb-4 bg-light">
    <legend class="p-4"><%=I18n.t('user_form_title')%></legend>
    <div class="row">
      <div class="col-md-2 justify-content-center align-items-center text-align-center">
        <%=image_tag avatar_image(user), class: 'avatar' %>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6">
            <%= form.label :name, class: 'col-sm-4 col-form-label' %>
            <div class="col-sm-8">
              <%= form.text_field :name, class: 'form-control', placeholder: "#{User.human_attribute_name(:name)}...", required: true %>
            </div>
          </div>

          <div class="col-md-6">
            <%= form.label :document, class: 'col-sm-4 col-form-label' %>
            <div class="col-sm-8">
              <%= form.text_field :document, class: 'form-control cpf', placeholder: "#{User.human_attribute_name(:document)}...", required: true %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <%= form.label :email, class: 'col-sm-4 col-form-label' %>
            <div class="col-sm-8">
              <%= form.email_field :email, class: 'form-control', placeholder: "#{User.human_attribute_name(:email)}...", required: true %>
            </div>
          </div>

          <div class="col-md-6">
            <%= form.label :photo, class: 'col-sm-4 col-form-label' %>
            <div class="col-sm-8">
              <%= form.file_field :photo, class: 'form-control', placeholder: "#{User.human_attribute_name(:photo)}...", required: user.new_record? %>
            </div>
          </div>
        </div>

        <!-- # TODO: Phone and CellPhone Masks -->
        <div class="row">
          <div class="col-md-6">
            <%= form.label :phone, class: 'col-sm-4 col-form-label' %>
            <div class="col-sm-8">
              <%= form.text_field :phone, class: 'form-control phone_with_ddd', placeholder: "#{User.human_attribute_name(:phone)}...", required: true %>
            </div>
          </div>

          <div class="col-md-6">
            <%= form.label :status, class: 'col-sm-4 col-form-label' %>
            <div class="col-sm-8">
              <%= form.select :status, options_for_select({ User.human_attribute_name(:active) => 1, User.human_attribute_name(:inactive) => 0 }), {}, { class: 'form-control' } %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <%= form.label :birthday_at, class: 'col-sm-6 col-form-label' %>
            <div class="col-sm-6">
              <%= form.date_select :birthday_at, {end_year: Date.today.year, use_short_month: true, order: [:day, :month, :year]}, { class: 'form-control', style: 'width: auto; display: inline' } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4 mt-4 pb-4 bg-light">
    <!-- # TODO: Auto complete with ajax -->
    <legend class="p-4"><%=Address.model_name.human%></legend>
    <%= form.fields_for :address do |form_address| %>
      <div class="row">
        <div class="col-md-6">
          <%= form_address.label :zipcode, class: 'col-sm-4 col-form-label' %>
          <div class="col-sm-8">
            <%= form_address.text_field :zipcode, class: 'form-control cep', placeholder: "#{Address.human_attribute_name(:zipcode)}...", required: true %>
          </div>
        </div>

        <div class="col-md-6">
          <%= form_address.label :ibge_code, class: 'col-sm-4 col-form-label' %>
          <div class="col-sm-8">
            <%= form_address.text_field :ibge_code, class: 'form-control', placeholder: "#{Address.human_attribute_name(:ibge_code)}...", required: true %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%= form_address.label :state, class: 'col-sm-4 col-form-label' %>
          <div class="col-sm-8">
            <%= form_address.text_field :state, class: 'form-control', placeholder: "#{Address.human_attribute_name(:state)}...", required: true %>
          </div>
        </div>

        <div class="col-md-6">
          <%= form_address.label :city, class: 'col-sm-4 col-form-label' %>
          <div class="col-sm-8">
            <%= form_address.text_field :city, class: 'form-control', placeholder: "#{Address.human_attribute_name(:city)}...", required: true %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%= form_address.label :street, class: 'col-sm-4 col-form-label' %>
          <div class="col-sm-8">
            <%= form_address.text_field :street, class: 'form-control', placeholder: "#{Address.human_attribute_name(:street)}...", required: true %>
          </div>
        </div>

        <div class="col-md-6">
          <%= form_address.label :neighborhood, class: 'col-sm-4 col-form-label' %>
          <div class="col-sm-8">
            <%= form_address.text_field :neighborhood, class: 'form-control', placeholder: "#{Address.human_attribute_name(:neighborhood)}...", required: true %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%= form_address.label :complement, class: 'col-sm-4 col-form-label' %>
          <div class="col-sm-8">
            <%= form_address.text_field :complement, class: 'form-control', placeholder: "#{Address.human_attribute_name(:complement)}..." %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <%= form.submit I18n.t('helpers.submit.submit', model: User.model_name.human), class: "btn btn-primary btn-save" %>
      </div>
    </div>
  </div>


<% end %>
