<div class="card mb-2 bg-light" id="user-<%= user.id %>">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <%=image_tag avatar_image(user), class: 'avatar' %>
      </div>
      <div class="col-md-10 user-data">
        <h4 class="card-title text-muted"><%= user.name %> - <%= user.email %></h4>
        <p><%=User.human_attribute_name(:document)%>: <%= user.document %></p>
        <p><%=User.human_attribute_name(:birthday_at)%>: <%= user.birthday_at %></p>
        <p><%=User.human_attribute_name(:phone)%>: <%= user.phone %></p>
        <p><%=User.human_attribute_name(:status)%>: <%= user.status %></p>
        <%= link_to I18n.t('helpers.submit.update', model: User.model_name.human), edit_user_path(user), class: "mt-1 btn btn-secondary btn-sm" %>
      </div>
    </div>

  </div>
</div>
