<!DOCTYPE html>
<html>
  <head>
    <title><%=I18n.t('application_name')%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <div class="container h-100">
      <div class="row mt-4 justify-content-center align-items-center">
        <div class="col-12">
          <h2 id="application_title"><%=I18n.t('application_name')%></h2>
          <%= link_to I18n.t('helpers.submit.create', model: User.model_name.human), root_path, class: 'btn btn-primary' %>
          <hr />
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
  <script>
    $(document).on('ready turbolinks:load', function() {
      $('.phone_with_ddd').mask('(00) 00000-0000');
      $('.cep').mask('00000-000');
      $('.cpf').mask('000.000.000-00', {reverse: true});
    });
  </script>
</html>
